

   <div class="creat-pst-dis hide ">
    <div class="close-create-btn"><a class="close" href="###"><i class="fa-solid fa-xmark"></i></a></div>
    <div class="cpd">
    
        <form id="create-form"  method="POST" action="/post" enctype="multipart/form-data">
            <div class="post-portel">
                <div class="fm active" id="step1">
                    <div class="createP">
                        <h3 id="h3">Create new post</h3>
                    </div>
                    <div class="post-fix select-file">
                        <div class="file-choosen"> <input  name="mediaUrl" type="file" id="fileInput" accept="image/*,video/*"></div>
                        <div class="select-from-computer"><button id="noSubmitButton"  class="file-input-button">Select from computer </button></div>
                    </div>
                </div>

                <div id="step2" class="fm">
                    <div class="createP">
                        <a class="pre-btn"  type="buttom" href="###"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Crop</h3>
                        <a class="next-btn"  type="button" href="###">next</a>
                    </div>
                    <div class="post-fix">
                            <img class="i">
                    </div>
                </div>
                <div id="step3" class="fm">
                    <div class="createP">
                        <a class="pre-btn"  type="buttom" href="###"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Crop</h3>
                        <button class="next-btn">share</button>
                    </div>
                    <div class="share-post">
                        <div class="post-fix">
                            <img class="i">
                        </div>
                        <div class="caption-section">
                            <div class="userProfile cs">
                               <span class="profile-img"></span>
                               &nbsp; &nbsp;<h3>nadeem</h3>
                            </div>
                            <div class="caption cs"><textarea name="caption" placeholder="Write caption"></textarea></div>
                            <div class="emoji-tags cs"><i class="fa-regular fa-face-smile"></i></div>
                            <div class="location cs"><input name="location" placeholder="Location"><div><i class="fa-solid fa-location-dot"></i></div></div>
                            <div class="accesbility cs">Acessbility</div>
                            <div class="advance-settings cs">advance setting</div>
                        </div>
                    </div>
                    
                </div>
                



            </div>
        </form>
    </div>
   </div>