<div class="moreOption  hide">

</div>



<style>
    .moreOption{
        width:250px;
        height:460px;
        padding:8px;
        background-color:#303338;
        position:absolute;
        z-index:1;
    }


    .hide{
        display:none;
    }

    .show{
        display:block;
    }
</style>


<script>

</script>