<div class="moreOption  hide">
    <div class="logout-button">
        <form method="POST" action="/logout">
            <button>Log out</button>
        </form>
    </div>

</div>



<style>
    .moreOption{
        width:250px;
        height:460px;
        padding:8px;
        background-color:#363637;
        position:absolute;
        z-index:1;
        bottom:100px;
        left:15px;
        border-radius:20px;
    }


    .hide{
        display:none;
    }

    .show{
        display:block;
    }

    .logout-button button{
        border:none;
        width:200px;
        height:80px;
        color:white;
        font-size:20px;
        background-color:#363637;

    }
</style>


<script>

</script>