<% layout('layouts/boilerplate.ejs') -%>
<div class="login-main-page">

    <div class="login-field form">
        <div class="login-logo">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <form method="POST" action="/login">
            <input name="username" placeholder="username" required>
            <input name="password" placeholder="password" required>
            <button class="signUpbtn">Login</button>
        </form>
        <div class="facebook-login-forgat-pwd">
            <div class="facebook-api">
                <div class="line"></div>
                <span>or</span>
                <div class="line"></div>
               
            </div>
            <div class="login-facbook">
                <i class="fa-brands fa-square-facebook"></i>
                Log in with facebook
            </div>
            <div class="forgat-pwd"><a href="###">Forgot password</a></div>
        </div>
     
    </div>
    <div class="signUP-link">
        <p>Don't have an account? &nbsp;<a href="/signup">Sign up</a></p>
    </div>
</div>