<% layout('layouts/boilerplate.ejs')-%>
<div class="messages-box">
    <div class="messanger-chates">
        <div class="messager-list">
            <div class="logged-user">
                <h3>nadeem-shaikh24</h3>
                <div class="new-messag"><i class="fa-solid fa-square-pen"></i></div>
            </div>
            <div class="message-notify">
                <h3>message</h3>
                <h4>requeste</h4>
             </div>
             <div class="chat-list">
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                 <!-- demo -->
                 <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="chates">
            <div class="active-chates">
                <div class="user-info">
                    <div class="username-profile">
                        <div class="profile"><img src="<%=reciever.profile.url%>"></div>
                        <div class="username"><%=reciever.fullname%></div>
                    </div>
                    <div class="video-call-btn">
                        <div class="call"><i class="fa-solid fa-phone"></i></div>
                        <div class="video-call"><i class="fa-solid fa-video"></i></div>
                        <div class="info"><i class="fa-solid fa-info"></i></div>
                    </div>

                </div>
                <div class="conversation-data">
                    <div class="sender-content"><p>hellow</p></div>
                    <div class="participant-content"><p>hellow</p></div>
                    <div class="sender-content"><p>hokw</p></div>

                </div>
                <div class="type-section">
                    <div class="typing-bar">
                        <div class="emoji"><i class="fa-regular fa-face-smile"></i></div>
                        <div class="typing-area">
                            <input id="messageInput" placeholder="Message...">
                            
                        </div>
                        <div class="recording-file-like" id="recordingFileLike">
                            <div class="recoding"><i class="fa-solid fa-microphone"></i></div>
                            <div class="gellary"><i class="fa-regular fa-image"></i></div>
                            <div class="heart"><i class="fa-regular fa-heart"></i></div>
                        </div>
                        <div class="send-message-btn"><button receiver-id="<%= reciever._id%>" sender-id="<%=currUser._id%>"  id="send-message-btn">send</button></div>
                    </div>
                </div>
            </div>
            <div class="no-chats">
                <div class="symbols">
                    <i class="fa-regular fa-envelope"></i>
                    <h3>Your messages</h3>
                    <h4>Send private photos and messages to a friend or group</h4>
                    <button>Send messag</button>
                </div>
            </div>
        </div>
    </div>

</div>

