<% layout('layouts/boilerplate.ejs')-%>
<div class="messages-box">
    <div class="messanger-chates">
        <div class="messager-list">
            <div class="logged-user">
                <h3>nadeem-shaikh24</h3>
                <div class="new-messag"><i class="fa-solid fa-square-pen"></i></div>
            </div>
            <div class="message-notify">
                <h3>message</h3>
                <h4>requeste</h4>
             </div>
             <div class="chat-list">
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                 <!-- demo -->
                 <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
                <div class="messanger">
                    <div class="messanger-info">
                        <div class="messanger-profile"></div>
                        <div class="messanger-name">
                            <div class="full-name"><a href="###">Aman khan</a></div>
                            <div class="reat-status">Aman sent an Attachment</div>
                        </div>
                        <div class="messanger-message-count"></div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="chates"></div>
    </div>

</div>
