<% layout('layouts/boilerplate.ejs')-%>
<div class="main-pb">
  <div class="container">
    <div class="profile-box">
        <div class="box-item">
         <div class="profile-item">
          <div class="display-profile">
            <div class="dp">
              <img src="<%=currUser.profile.url%>">
            </div>
          </div>
          
          <div class="profile-detail">
            <div class="username-edit">
              <a href="###" class="username"><%=currUser.username%></a>
             <div class="edit-archiv-btn">
                <div class="button">
                   <a class="btn" href="###">Edit profile</a>
                
                </div>
             </div>
            </div>
            <div class="follower-following">
               <ul>
                  <li> <a href="###" class="posts">0 posts</a></li>
                  <li> <a href="###" class="followers">344 Follower</a></li>
                  <li><a href="###" class="followings">444 Following</a></li>
                   
               </ul>
            </div>
            <div class="name-boi">
              <p class="name">nadeem</p>
              <p class="bio" >@Business<br>
                .
                Fundamental analysis in stock market📉📈, investment tips <br>for learn
                Business mindk</p>
            </div>
          </div>
         </div>
         <div class="profile-story"></div>
         <div class="profile-pst">
          <div class="pst-btn">
            <span class="post"></span>
            <span class="saved"></span>
            <span class="tag"></span>
          </div>
         </div>
         <div class="profile-postes"></div>
       
        </div>
     </div>
  </div>
</div>

