.messages-box{
    width:100vw;
    height:100vh;
    background-color:#000;
    margin-left:72px;
}

.messages-box .messanger-chates{
    width:100%;
    height:100%;
    display:flex;
}



.messager-list{
    width:400px;
    height:100%;
    background:#000;
}

.chates{
    width:100%;
    height:100%;
    background-color:blue;
}

.messager-list .logged-user{
    width:349px;
    height:20px;
    padding:36px 24px 16px 24px;
    display:flex;
    justify-content: space-between;
}
.logged-user h3{
    color:white;
    font-size: 20px;
}

.logged-user .new-messag i{
    color:white;
    font-size:30px;

}

.messager-list .message-notify{
    width:349px;
    height:44px;
    padding:14px 24px 10px 24px;
    display:flex;
    justify-content: space-between;
}
.message-notify h3{
    color:white;
}

.message-notify h4{
    color:rgb(14, 14, 148);
}


.messager-list .chat-list{
    width:397px;
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
}

.chat-list .messanger{
    width:334px;
    height:56px;
    padding:8px 24px 8px 24px;
    background-color:#000;
    display:flex;
}

.chat-list .messanger:hover{
    background-color:#2f2f2f;
}

.messanger .messanger-info{
    width:350px;
    height:56px;
    display:flex;
    align-items: center;
}

.messanger .messanger-profile{
    width:56px;
    height:56px;
    background:green;
    border-radius:50%;
}

.messanger .messagner-name{
    width:270px;
    height:37px;
    margin-left:20px;
    
}
.messanger-name .full-name a{
    color:white;
    font-size: 16px;
    text-decoration: none;
    margin-top:10px;
}

.messanger-name .full-name{
    margin-top:5px;
    margin-left:10px;
}

.messanger-name .reat-status{
    color:white;
    margin-left:10px;
    margin-top:10px;
    opacity: 0.6;
    font-size:15px;
    font-weight: 300;

}