.messages-box{
    width:100vw;
    height:100vh;
    background-color:#000;
    margin-left:72px;
}

.messages-box .messanger-chates{
    width:100%;
    height:100%;
    display:flex;
}



.messager-list{
    width:400px;
    height:100%;
    background:#000;
}

.chates{
    width:100%;
    height:100%;
    background-color:black;
}

.messager-list .logged-user{
    width:349px;
    height:20px;
    padding:36px 24px 16px 24px;
    display:flex;
    justify-content: space-between;
}
.logged-user h3{
    color:white;
    font-size: 20px;
}

.logged-user .new-messag i{
    color:white;
    font-size:30px;

}

.messager-list .message-notify{
    width:349px;
    height:44px;
    padding:14px 24px 10px 24px;
    display:flex;
    justify-content: space-between;
}
.message-notify h3{
    color:white;
}

.message-notify h4{
    color:rgb(14, 14, 148);
}


.messager-list .chat-list{
    width:397px;
    height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-color: grey rgb(62, 62, 62);
}

.chat-list .messanger{
    width:334px;
    height:56px;
    padding:8px 24px 8px 24px;
    background-color:#000;
    display:flex;
}

.chat-list .messanger:hover{
    background-color:#2f2f2f;
}

.messanger .messanger-info{
    width:350px;
    height:56px;
    display:flex;
    align-items: center;
}

.messanger .messanger-profile{
    width:56px;
    height:56px;
    background:green;
    border-radius:50%;
}

.messanger .messagner-name{
    width:270px;
    height:37px;
    margin-left:20px;
    
}
.messanger-name .full-name a{
    color:white;
    font-size: 16px;
    text-decoration: none;
    margin-top:10px;
}

.messanger-name .full-name{
    margin-top:5px;
    margin-left:10px;
}

.messanger-name .reat-status{
    color:white;
    margin-left:10px;
    margin-top:10px;
    opacity: 0.6;
    font-size:15px;
    font-weight: 300;
}

.chates .no-chats{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.no-chats .symbols{
    height:400px;
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-chats .symbols i{
    font-size: 4em;
    color:white;
    text-align: center;
    
}

.no-chats .symbols h3{
    color:white;
    margin-top: 10px;
}
.no-chats .symbols h4{
    color:white;
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.7;
}
.no-chats .symbols button{
    border:none;
    border-radius:10px;
    width:122px;
    height:32px;
    color:white;
    background-color:#5599f3;
    margin-top:10px;
    padding:0 16px 0 16px;
}

.chates .active-chates{
    width:100%;
    height:100%;
    border-left: 1px solid grey;

}


.active-chates .user-info{
    width:1035px;
    height:75px;
    background-color:black;
    position:fixed;
    top: 0;
    padding: 0 16px 0 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.user-info .username-profile{
    width:767px;
    height:56px;
    background-color:black;
    display:flex;
    align-items: center;

}

.user-info .username{
    padding-left:15px;

}

.username-profile .profile{
    width:56px;
    height:56px;
    border-radius: 50%;
    background-color:red;
}

.username-profile .profile img{
    width:56px;
    height:56px;
    border-radius:50%;
    
}

.user-info .video-call-btn{

    width:124px;
    height:40px;
    padding-left:12px;
    background-color:black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.video-call-btn i{
    font-size: 17px;
    color:white
}



.active-chates .type-section{
    width:1067px;
    height:77px;
    background-color:black;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items: center;
}

.type-section .typing-bar{
    width:980px;
    height:44px;
    background-color:black;
    padding:0 16px 0 11px;
    border-radius: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid rgb(81, 81, 81);

}

.typing-bar .emoji{
    width:32px;
    height:32px;
    padding:6px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.emoji i{
    font-size:23px;
    color:white;
}

.typing-bar .typing-area{
    width:900px;
    color:white;
    background-color:black;
    text-align: left;
}

.typing-area input{
    width:860px;
    height:30px;
    color:white;
    background-color:black;
    font-size: 18px;
    border:none;
}

.typing-area input:focus{
    outline: none;
    border:none;
    
}

.typing-bar .recording-file-like{
    width:130px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.recording-file-like {
    font-size:20px;
    color:white;
}
.active-chates .conversation-data{
    height:580px;
    margin-top:77px;
    width:1060px;
   scrollbar-color: grey rgb(62, 62, 62);
    overflow-y: scroll;
}