/* sign UP */

.signUp-page{
    width:100%;
    height:100%;
  }
  form .hide{
    display:none;
  }
  
  form .active{
    display:block;
  }
  .sign-up-form{
    width:348px;
    height:610px;
    border:1px solid grey;
    margin:auto;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
  }
  
  .sign-up-form .signUpLogo{
  width:100px;
  height:100px;
  padding:8px;
  margin:auto;
    
  }
  
  .signUpLogo i {
    font-size:6em;
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040, #F77737, #FCAF45);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
 
  }
  
  
  .form .signUp{
    height:460px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .sign-up-form .DoB-section{
  
    width:348px;
    height:460px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }
  
  
  .form .p{
      width:269px;
      height:40px;
      display:block;
      font-weight: 500;
      color:grey;
  }
  
  .form #facebookBtn{
    width:268px;
    height:34px;
    padding:7px 16px 7px 16px;
    color:white;
    font-weight:600px;
    background:#1877F2;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
  
  
  }
  
  .form p{
    width:268px;
    height:75px;
    font-size: 12px;
    color:grey;
  
  }
  .signUpbtn{
    width:268px;
    height:34px;
    padding:7px 16px 7px 16px;
    color:white;
    font-weight:600px;
    background:#5599f3;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
  
  }
  #facebookBtn i{
    margin-right:10px;
    font-size:18px;
  }
  
  .form input{
    width:251px;
    height:20px;
    padding:9px 0 7px 8px;
    background:#FAFAFA;
    border:1px solid rgb(214, 212, 212);
    border-radius:5px;
  
  }
  
  
  .facebook-api{
    width:269px;
    height:15px;
    display:flex;
    justify-content:center;
  }
  .line{
    width:108px;
    height:1px;
    border-bottom:1px solid grey;
    margin-top:10px;
  }
  .facebook-api span{
    margin:0 10px 0 10px;
  }
  
  /* step2 */
  
  
  .birthday-logo{
    width:144px;
    height:96px;
  }
  
  
  
  .user-dp{
    width:200px;
    height:200px;
    border-radius:50%;
  }
  .user-dp img{
    width:200px;
    height:200px;
    border-radius:50%;
  }
  
  #file{
    display:none;
  }
  
  .hide .hi{
    display:none;
  }